__pycache__
*.pyc
/train_result/
/test_result/
/train_result_nips/
.gitignore
*.sh
/test/*
/EVA_result/
/config/*
*.tsv
exp/analysis/*
exp/data_analysis/*
*.xlsx
exp/model_analysis/*
exp/data_analysis/data_process.ipynb
exp/data_analysis/parsing_label.py
