__pycache__
*.pyc
/train_result/
/test_result/
/train_result_nips/
.gitignore
*.sh
/test/*
/EVA_result/
/config/*
*.tsv
./exp/analysis/*
./exp/data/*
exp/data_process.ipynb
exp/analysis/plot_motivation.py
exp/analysis/error_analysis.ipynb
exp/analysis/plot_motivation.py
*.xlsx
